@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h1>SEI NELLA INDEX DELLA HOME</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
<div class="container d-flex flex-column">

    <div class="row mb-4">
        <div class="col col-6 d-flex flex-column justify-content-center align-items-center ">
            <p class="fst-italic align-items-center"style="font-weight:bold">
               " 
                Filastrocca della pizza
                la tristezza si esorcizza;
                già col solo suo profumo
                le amarezze manda in fumo! 
                <br />

                Con lei torna l’allegria
                la mestizia caccia via:
                non appena l’han davanti
                son felici tutti quanti!
                <br />
                Con prosciutto o carciofini,
                tonno, olive o salamini
                patatine, aglio, pancetta:
                tutti vogliono una fetta!
                <br />
                Lei soddisfa ogni palato
                da esigente a delicato:
                ricca di semplicità,
                di sapore, di bontà.
                (Oppure: marchio d’italianità)
                <br />
                Per lei tutti fan follie,
                son disposti a far pazzie.
                L’acquolina sempre attizza:
                nulla è meglio della pizza! "
            </p>
            <h1>Prenota ora la tua pizza</h1>
            <h2>48 ore di lievitazione</h2>
            <a class="btn text-white" href="~/Home/Login" style="text-decoration: none; background-color: #970C0A;">Ordina Adesso</a>
        </div>
        <div class="col col-6">
            <img src="~/Content/img/hero_pizza2.png" alt="Alternate Text" />
        </div>
    </div>
    <hr />
    <div class="d-flex justify-content-around gap-3 m-5">
        <div class="row">
            <div class="col-6">
                <img src="~/Content/img/immagine-frontPage.jpg" alt="Alternate Text" width="500px" />
                <p class="mt-2 fst-italic d-flex justify-content-center align-items-center">La nostra pizza ha una tradizione antichissima</p>
            </div>
            <div class="col-6 mt-lg-5">
                <img src="~/Content/img/pexels-vinicius-benedit-1082343.jpg" alt="Alternate Text" width="500px" />
                <p class="mt-2 fst-italic d-flex justify-content-center align-items-center">Pizze cotte a legna come vuole la tradizione</p>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-6 social2 d-flex align-items-center">
            <p>Seguici sui nostri social: <span><i class="bi bi-instagram mx-3"></i></span><span><i class="bi bi-facebook mx-3"></i></span><span><i class="bi bi-twitter mx-3"></i></span></p>
        </div>
        <div class="col-6 social d-flex align-items-center">
            <span class=" mx-5">email:simone@TestProva.com</span> <span>cell: 333-1234567</span> 
        </div>
    </div>

</div>